.statusPill {
    width: fit-content;
    padding: 1px 8px;
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
}

.FINISHED {
    background-color: rgb(33, 191, 33);
}

.RELEASING {
    background-color: aqua;
    color: #000 !important;
}

.NOT {
    background-color: blanchedalmond;
}

.HIATUS {
    background-color: red;
}